<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RCRPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RCRPlanner.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="filter" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="minimized" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="defaultTimer" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="updateURL" serializeAs="String">
        <value>https://api.github.com/repos/Firewolf1337/RCRPlanner/releases/latest</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="delayTime" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="SortDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PartnerSlider" serializeAs="String">
        <value>True</value>
      </setting>
    </RCRPlanner.Properties.Settings>
  </userSettings>
</configuration>